html {
    scroll-behavior: smooth;
    font-size: larger;
}

body {
    background-color: #FCF7FF;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

/* template formatting */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.grid-item {
    grid-column: 2;
    justify-content: center;
    display: grid;
}

#home {
    justify-content: center;
    display: flex;
}

/* Navigation Menu */
#menu {
    height: auto;
    position: fixed;
    top: center;
    right: 0;
    width: 200px;
    /* color: black; */
    font-weight: bold;
    letter-spacing: 1px;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li {
    display: block;
    padding: 20px;
    background-color: transparent;
}
#menu li:hover {
    background-color: gray;
}
#menu li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}





